:root {
    --white: #FFFFFF;
    --white-clarito: #f5f5f5bb;
    --black: #000000;
    --gray: #d1d1d1e4;
    --very-light-pink: #313173;
    --text-input-field: #554b98;
    --hospital-green: #b8acd9;
    --nuevo-color: #c1b4e779;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --slg: 20px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 95%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
    z-index: 2;
}

.menu {
    display: none;
}

.logo {
    width: 100px;
}

.navbar-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: auto;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left ul li {
    margin-right: 12px;
    /* Espaciado entre los elementos de la lista */
    font-size: var(--slg);
}

.nav-bot {
    font-weight: bold;
}

.navbar-left ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 16px;
    border-radius: 8px;
}

.navbar-left ul li a:hover {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--hospital-green);
    background-color: #6b61a6;
}

button {
    padding: 8px;
    background-color: #554b98;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.pie {
    font-size: x-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.conoce {
    margin-top: 70px;
    margin-left: 39%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
}


.search-bar {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
}

.navbar-left ul li.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: var(--lg);
    margin-top: 16px;
}

.dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: justify;
}

.dropdown-content a:hover {
    background-color: #6b61a6;
    border-bottom: var(--very-light-pink);
}

.sections-container {
    display: flex;
    padding-top: 100px;
}

.section {
    /* Ajusta el margen según tus preferencias */
    /*border: 1px solid #ccc;*/
    /* Añade un borde para separar visualmente las secciones */
    padding: 16px;
    /* Añade espacio interno */
}

.section h1 {
    text-align: center;
    font-size: 40px;
}

/* .section1 {
    position: fixed;
    width: 200px;
} */

.section1 {
    position: fixed;
    width: 200px;
    height: 100vh;
    overflow-y: auto;
    /* Agrega desplazamiento vertical si el contenido es demasiado largo */
}

#section2 {
    flex: 1;
    /* La sección 2 ocupará el espacio restante */
    max-width: calc(100% - 400px);
    /* Resta el ancho de la sección 1 */
    margin-left: 200px;
    /* Alinea la sección 2 al lado derecho de la sección 1 */
    margin-right: 200px;
    padding: 16px;
}

#section3 {
    width: 200px;
    position: fixed;
    top: 105px;
    bottom: 0;
    right: 0;
}


/* #section2 {
    margin: 0 auto;
    max-width: 1000px;
}

#section3 {
    width: 200px;
    position: fixed;

    top: 105px;
    bottom: 0;
    right: 0;
} */

.section2 {
    display: flex;
    align-items: center;
}

.info-intr>p {
    flex: 1;
    margin-top: 0;
    margin-right: 20px;
    text-align: justify;
}

.image-container img {
    max-width: 400px;
    height: auto;
}

.Navegación {
    list-style-type: none;
    padding: 0;
}

.Navegación li {
    margin-bottom: 8px;
}

.Navegación a {
    text-decoration: none;
    color: var(--black);
    padding: 8px;
    margin-top: 16px;
    border-radius: 4px;
    display: block;
    background-color: var(--gray);
    transition: background-color 0.3s;
}

.Navegación a:hover {
    background-color: #6b61a6;
    color: var(--white);
}

#section2t {
    justify-content: center;
}

#iframe-container {
    padding-top: 10px;
}

#iframe-container1 {
    padding-bottom: 10px;
}

#concepto,
#oycuniverso,
#sistemasolar,
#otierra,
#erageo,
#estructierra,
#intro,
#Competencias_relacionadas,
#elementos_uni,
#formuni,
#conoce {
    scroll-margin-top: 120px;
    /* Ajusta según la altura de tu barra de navegación */
}

.competencias {
    font-size: large;
    display: inline-block;
    padding-left: 100px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.current-match {
    background-color: orange;
}


.slider-container {
    margin: 0 auto;
    overflow: hidden;
    max-width: 400px;
    z-index: 1;
    position: relative;
}

.slider-content {
    display: flex;
    transition: transform 0.5s;

}

.slide {
    flex: 0 0 100%;
    text-align: center;
}

.btn-prev,
.btn-next {
    margin-top: 10px;
}

#img_uni {
    text-align: center;
}

#navigationContainer {
    display: inline-block;
    margin-left: 10px;
    /* Ajusta según sea necesario */
}


.section33 {
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    height: 100vh;
    /* Establece el alto al 100% de la altura de la ventana */
}

.imgsub-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Asegura que la imagen no desborde el contenedor */
}

.imgsub-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen para cubrir completamente el contenedor */
}

#conoce {
    margin-top: 0px;
    margin-bottom: 0px;
}

.image-container1 {
    text-align: center;
}

.image-container1 img {
    max-width: 400px;
    height: auto;
}

.image-container2 {
    width: 100%;
}

.image-container2 img {
    width: 100%;
    height: auto;
    /* Mantiene la proporción original de la imagen */
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: -200px;
    /* Esconde el menú fuera de la pantalla */
    width: 200px;
    height: 100%;
    background-color: #FFF;
    /* Estilo del menú */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    /* Sombra */
    transition: left 0.3s ease;
    /* Animación al mostrar/ocultar */
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
}

.mobile-menu ul li {
    padding: 10px;
}

.menu-toggle {
    display: none;
    /* Oculta el botón en pantallas grandes */
}

@media (max-width: 768px) {
    nav {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap; */
        padding: 0 12px;
        /* Ajusta el espacio en los dispositivos móviles */
    }

    .navbar-left ul {
        display: none;
    }

    /* .menu {
        display: block;
    } */

    .menu-toggle {
        order: 1;
        /* Orden en el diseño flex */
        display: block;
        position: relative;
        /* Ajusta el posicionamiento del botón */
        font-size: 20px;
        background: var(--very-light-pink);
        color: var(--white);
        border: none;
        cursor: pointer;
        z-index: 1000;
    }

    .logo {
        order: 2;
        width: 80px;
    }

    .search-bar {
        order: 3;
        /* position: fixed; */
        /* Orden en el diseño flex */
        display: flex;
        align-items: center;
        margin-left: 10px;
        right: 0;
        left: auto;
    }

    input[type="text"] {
        width: 100px;
    }

    button {
        padding: 8px 12px;
        font-size: var(--sm);
    }

    .navbar-left {
        display: none;
        /* Oculta la barra de navegación normal en dispositivos móviles */
    }

    .mobile-menu {
        position: fixed;
        top: 80px;
        left: -200px;
        width: 200px;
        height: 100%;
        background-color: #FFF;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        transition: left 0.3s ease;
        z-index: 1000;
        /* padding-top: 80px; */
    }



    .mobile-menu ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu ul li {
        padding: 10px;
        margin-left: 30px;
        margin-bottom: 5px;
        font-weight: bold;
        text-align: justify;
    }

    .mobile-menu ul li a {
        text-decoration: none;
        color: var(--very-light-pink);
        /* border: 1px solid var(--very-light-pink); */
        padding: 0px;
        border-radius: 8px;
    }

    /* .dropdown-content {
        font-size: var(--sm);
    }

    .dropdown-content a {
        padding: 8px;
    }
*/
    .image-container{
        display: flex;
        justify-content: center;
    }
    .image-container img{
        max-width: 100%;
        height: auto;
    }
    .image-container1 img{
        max-width: 80%;
        height: auto;
    }
    #sky {
        max-width: 80%;
        height: auto;
    }

    .sections-container {
        position: absolute;
        top: 80px;
        padding-top: 0px;
        width: 100%;

    }

    .section {
        max-width: 100%;
    }

    /* Ocultar la sección 1 en dispositivos de menor tamaño */
    .section1 {
        display: none;
    }

    /* Ocultar la sección 3 en dispositivos de menor tamaño */
    #section3 {
        display: none;
    }

    /* Ajustar el contenido de la sección 2 para dispositivos de menor tamaño */
    #section2 {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    /* Ajusta el ancho del contenido de la sección 2 */
    .section2 {
        flex-direction: column;
        /* Cambia la dirección de flexión para que los elementos se apilen verticalmente */
        align-items: center;
        /* Centra el contenido horizontalmente */
    }

    /* .info-intr p {
        font-size: 5px;  Ajusta el tamaño de fuente según sea necesario
        margin-right: 0; Elimina el margen derecho para ajustar el texto al borde de la pantalla
    } */

    #section2t {
        display: flex;
        width: 100%;
        /* Establece el ancho del contenedor del iframe al 100% */
        justify-content: center;
    }

    .info-intr {
        text-align: center; /* Centra el contenido horizontalmente */
    }

    #iframe-container iframe {
        width: 90%;
        /* Establece el ancho del iframe al 100% */
        height: auto;
        /* Permitir que la altura se ajuste automáticamente según el contenido */
    }

    .slider-container {
        margin: 0 auto;
        overflow: hidden;
        max-width: 50%;
        z-index: 1;
        position: relative;
    }

    .slider-content {
        display: flex;
        transition: transform 0.5s;

    }

    .slide {
        flex: 0 0 100%;
        text-align: center;
    }

    /* p{
        width: 100%;
    } */

}